<h2><%= @user.username %></h2>

<h3>
  Diet Record
</h3>
<ul id="users-products-list" >
  <% if @user.users_products %>
    <% @user.users_products.each do |users_product| %>
      <% product = users_product.product %>
      <%= render partial: "users_products/users_product", layout: false, locals: {users_product: users_product, product: product} %>
    <% end %>
  <% else %>
    <p>
      Check out the home page to add some food records
    </p>
  <% end %>
</ul>
