<h2><%= @user.username %></h2>

<ul>
  <% if @users_products %>
    <% @users_products.each do |product| %>
      <li>
        <%= product.name %>, <%= product.category %>, servings: <%= product.servings %>
      </li>
    <% end %>
  <% end %>
</ul>
