a {
  color: #282;
  text-decoration: none;
}
a:hover {
  color: #6C6;
}
a:visited {
  color: #282;
}
a:visited:hover {
  color: #6C6;
}

main {
  margin: 1em auto;
  width: 85%;
}
nav {
  margin: 0 auto;
  width: 90%;
}
ul {
  list-style: none;
}

.product-details {
  display: none;
}
