@keyframes dropdown {
  from {
    top: -10em;
  }
  to {
    top: 4em;
  }
}
@keyframes dropup {
  to {
    top: -10em;
  }
}

a {
  color: #141;
  text-shadow: 2px 2px #6D1;
  text-decoration: none;
}
a:hover {
  color: #363;
  text-shadow: none;
}
a:visited {
  color: #141;
}
a:visited:hover {
  color: #363;
  text-shadow: none;
}

body {
  background-color: #161;
  color: #333;
  font-weight: bold;
  padding: 0;
}
form.new_users_product {
  margin-top: 1em;
}
fieldset {
  border: none;
  display: flex;
  flex-direction: row;
}
fieldset div {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

footer {
  background: linear-gradient(to top left, #8F2, #AF4);
  background-color: greenyellow;
  bottom: 0;
  box-shadow: 0px 0px 8px #330;
  padding: 0.5em 0;
  position: fixed;
  text-align: center;
  width: 100%;
}
footer .fa {
  font-size: 1.5em;
}
form {
  background: linear-gradient(to bottom, #DA2, #FE2);
  border: 2px solid #333;
  color: #333;
  display: inline-flex;
}
form#login-register {
  position: absolute;
  right: 0px;
  top: -10em;
  z-index: -1;
}
h1, h2, h3, h4, h5, h6 {
  color: #141;
  text-decoration: none;
  text-shadow: 0px 0px 2px #6D1;
}
header {
  align-items: center;
  background: linear-gradient(to top left, #8F2, #CF6);
  background-color: greenyellow;
  box-shadow: 0px 0px 8px #330;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  height: 100%;
  justify-content: space-between;
  padding: 0 2em;
  width: 100%;
  z-index: 0;
}
input {
  font-weight: initial;
  padding: 0.125em;
}
input[type="submit"] {
  background: linear-gradient(to bottom, #EEE, #CCC);
  border-radius: 4px;
  margin-top: 0.5em;
  padding: 0.125em 0.25em;
}
label {
  margin-right: 1em;
}
main {
  background: linear-gradient(to top left, #8F2, #AF4);
  background-color: greenyellow;
  border-radius: 10px;
  margin: 5em 1em;
  padding: 0.25em 1em;
}
nav {
  display: flex;
  height: 4em;
  margin: 0 auto;
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 0;
}
nav a {
  font-weight: initial;
}
nav h1 {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0.5em;
}

li.product {
  background: linear-gradient(to top left, #CF6, #EF9);
  background-color: #AF4;
  border-color: #444;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  justify-content: space-around;
  padding: 0.0625em;
  text-align: center;
  width: 98%;
}
ul li.product:last-child {
  border-width: 1px;
}
li.product h3 {
  margin: 0.5em 0;
}

button.product-title {
  background-color: transparent;
  border: none;
  border-radius: 0px;
  height: 100%;
  padding: 0.5em;
  width: 100%;
}
button.product-title:hover {
  background: linear-gradient(to top left, #EF9, #EFA);
  background-color: #EFE;
}

.form-container {
  height: 13em;
  overflow: hidden;
  position: absolute;
  top: 4em;
  width: 18em;
}
.form-errors {
  color: #C20;
  font-weight: bold;
}

.product-details, .users-product-details {
  background-color: #DD8;
  border: 2px solid #333;
  padding: 1em;
}
.product-details-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.875em;
}
.users-product-details-container {
  display: none;
}
.product-details p, .users-product-details p {
  margin: auto;
}
.product-details {
  text-align: left;
}
.product-details li {
  margin: 0.5em 0;
}
.product-links-container {
  margin: 0.375em 0;
}

.users-product-details {
  columns: 4 auto;
  -webkit-columns: 4 auto;
  -moz-columns: 4 auto;
  margin: 0 1em;
}

.mb-none { margin-bottom: 0; }

#login-register {
  position: absolute;
  top: 0px;
}

#nav-links-container {
  float: right;
  margin: 0;
}

#ndb-search-errors {
  color: #633;
  font-weight: initial;
}

#product-search-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#usda-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
