a {
  color: #282;
  text-decoration: none;
}
a:hover {
  color: #6C6;
}
a:visited {
  color: #282;
}
a:visited:hover {
  color: #6C6;
}

main {
  background-color: greenyellow;
  margin: 1em auto;
  padding: 0.25em 1em;
  width: 85%;
}
nav {
  background-color: greenyellow;
  margin: 0 auto;
  padding: 0.25em 1em;
  position: sticky;
  top: 0;
  width: 90%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0.5em;
}

.product-details, .users-product-details {
  display: none;
}
