<form action="products/ndb_search" id="usda-ndb-search" method="POST">
  <fieldset>
    <label for="search-terms">Search term(s)</label>
    <input id="search-terms" name="search_terms" placeholder="food" type="text"/>

    <%= submit_tag "Search" %>
  </fieldset>
</form>

<ul id="ndb-search-results">
</ul>
