<h2>Products in Database</h2>

<% if @products %>
  <ul>
    <% @products.each do |product| %>
      <li>
        <%= render partial: 'product', locals: {product: product} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No products yet stored!</p>
<% end %>

<%= render partial: "usda_ndb_search" %>
