<h2>Products in Database</h2>

<% if @products %>
  <ul id="products-list">
    <% @products.each do |product| %>
      <li>
        <%= render partial: 'product', locals: {product: product} %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>
    No products yet stored!
  </p>
<% end %>

<div id="usda-ndb-search-container">
  <% if current_user %>
    <%= render partial: "usda_ndb_search" %>
  <% else %>
    <p>
      Please log in to add products to the database
    </p>
  <% end %>
</div>
