<!DOCTYPE html>
<html>
<head>
  <title>Nutrition Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav>
    <a id="login-link" href="/sessions/new">Login</a>
  </nav>
  <div id="login-container"></div>
  <h1>Welcome to Nutrition Tracker</h1>
  
  <%= yield %>

</body>
</html>
